doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="../css/cuentame.css")
    body 
        h1 ¡Cuentame una historia!
        .container
            
            .card 
                form
                    label(for="habia") Habia 
                    input(type="text", id="habia")
                    br
                    label(for="que_siempre") Que siempre 
                    input(type="text", id="que_siempre")
                    br
                    label(for="pero_un_dia") Pero una dia 
                    input(type="text", id="pero_un_dia")
                    br
                    label(for="por_lo_que") por lo que 
                    input(type="text", id="por_lo_que")
                    br
                    label(for="hasta") Hasta que finalmente
                    input(type="text", id="hasta")